@{
    ViewData["Title"] = "Home Page";
}

@model BowlingListViewModel

@foreach (var x in Model.CurrentTeam)
{
    <h2>@x.TeamName</h2>
}

<div class="text-center">
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Middle Init
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Zip
                    </th>
                    <th>
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.bowlers)
                {
                    <partial name="BowlerListInfo" model="x" />

                }
            </tbody>
        </table>
    </div>

    <div page-model="@Model.PagingInfo" page-action="Index" page-url-team="@Model.CurrentTeam" class="pagehighlight">

    </div>

</div>