@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Bowlers>

<div class="text-center">
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Middle Init
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Zip
                    </th>
                    <th>
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                { 
                    <partial name="BowlerListInfo" model="x" />

                }
            </tbody>
        </table>
    </div>

</div>